body{
    font-family: 'Vollkorn' !important;
    font-size: 17px !important;
}



/* HELPLINE SECTION*/
.top {
    background-color: #001d4c;
    color: white;
    text-align: center;
}

.top i {
    color: #3baed4;
    font-size: 20px;
    margin-top: 20px;
}

.top .helpline {
    color: rgba(255, 255, 255, 0.829);
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 4px;
   
}

.top .number {
    margin-bottom: 20px;
   
    margin-left: 25px;
}

.top .number-time {
    margin-top: 4px;
    margin-left: 25px;
   
}

.top img {
    margin-top: 20px;
}

.vertical {
    border-left: 1px solid rgba(224, 223, 223, 0.548);
    height: 70px;
    position: absolute;
    margin-left: 190px;
    left: 50%;
    top: 20px;
}
.top li{
    list-style-type: none;
    display: inline;
    margin: 15px;
}


@media only screen and (max-width:700px) {
    .vertical {
        border-left: 1px solid rgba(224, 223, 223, 0.548);
        height: 220px;
        margin-top: 100px;
        margin-left: 5px;
        transform: rotate(90deg);
    }
}
/* HELPLINE SECTION END */

/* NAVIGATION START */
.navbar{
    background: linear-gradient(#00598d, #0ad5f3);
  
}
.nav-item a{
    color: white !important;
  
    
}
.navbar a:hover {
    background: #00598d;
    color: black;
  }
  .current{
      background-color:#00598d ;
  }
  .dropdown-menu a{
      color: #0ad5f3 !important;
}
.dropdown-menu a:hover{
    color: white;
}

 /* NAVIGATION END */

 /* TEXT SLIDE */
.scrollmenu{
    background-color: #001d4c;
    color: white;
}
.scroll{
    color:#001d4c ;
}
/* TEXT SLIDE END */

/* NEW ARRIVALS DIV */
.comfort h1,.comfort h5,.best h3,.best h6,.headingFoot h1,.contact h1{
    color:#001d4c ;
}
.sky{
    background-color:#0ad5f3 ;
}

/* NEW ARRIVALS DIV  END*/

/* FOOTER */
.progress-bar{
    background-color:#0ad5f3 ;
}
.footer .one {
    background: linear-gradient(#0ad5f3, #001d4c,#001d4c,#001d4c,#001d4c,#001d4c,#001d4c,#0ad5f3);
  
}
.footer .Copyright{
    background-color:#001d4c ;
}
.goTo{
    position: fixed;
    bottom: 10px;
    right: 30px;
    background: linear-gradient(#0ad5f3, #001d4c);
}
i{
    color: white;
}
/* FOOTER END */
/* CARDS */
.card{
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 600px){
       .card,.contact,.slide{
        width: 100% !important;
    }
}
/* CARDS */



/* FOR FIXED HEADER */

.navbar{
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
}
.helpline,.footSlide,.contact{
    margin-top: 120px ;
}

